<a href="https://colab.research.google.com/github/pranavdighade123/Data-Preprocessing-Practicals-/blob/main/DP_Practical01_Code_A_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Title: Implementation of Basic Python Libraries.

Aim:
1. To understand and apply the Analytical concept of Python.
2. To study Basic Python Libraries used for machine learning & data science.

Importing numpy and Create 2 Arrays

In [ ]:
import numpy as np

myarray1 = np.array([1,2,3,4,5])

myarray2 = np.array([5,4,3,2,1])

print("This is first array       ", myarray1, "\nand this is another array ", myarray2)

This is first array        [1 2 3 4 5]
and this is another array  [5 4 3 2 1]

--------------------------------------------------------------------------------

Calculating dot product of two array using numpy library.

In [ ]:
print(np.dot(myarray1, myarray2))

35

--------------------------------------------------------------------------------

Creating Array by usning numpy library.

In [ ]:
print(np.arange(11))

[ 0  1  2  3  4  5  6  7  8  9 10]

--------------------------------------------------------------------------------

Adding two numbers using numpy library.

In [ ]:
print(np.add(100,20))

120

--------------------------------------------------------------------------------

Calculating Maximum number in given array using numpy library.

In [ ]:
print(np.max(myarray2))

5

--------------------------------------------------------------------------------

Calculating Minnimum number in given array using numpy library.

In [ ]:
print(np.min(myarray1))

1